<ion-view title="Home">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div ng-repeat="menu in menuItems">
        <ion-list>
          <ion-item nav-clear menu-close href="{{menu.href}}">
            {{menu.text}}
          </ion-item>
        </ion-list>
    </div>
  </ion-content>

</ion-view>
