
<ion-view title="{{ locationName }} Schedule">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

<ion-content class="has-header has-footer">
  <div ng-repeat="result in results | orderBy: 'startTimeSeconds' ">
      <ion-list>
        <ion-item nav-clear menu-close href="#">
            <div class="row">
                <div class="col col-wrap">{{result.startTime}} - <br/> {{result.endTime}}</div>
                <div class="col col-wrap">{{result.classType}}</div>
                <div class="col col-wrap">{{result.firstName}} {{result.lastName}}</div>
            </div>
        </ion-item>
      </ion-list>
  </div>

</ion-content>
<div class="tabs">
    <a class="tab-item" href="#/app/schedule/{{ location.id }}" ng-repeat="location in locations">
        {{ location.name }}
    </a>
 </div>


</ion-view>
